
<section class = 'intro'>
    <div class = 'inner'>
        <div class = 'content'>
            <h1 class = 'orange-text'>DIY-ERS</h1>
            <h2>A place to <br> show,<br> share, <br> and to <br> motivate <br> others to make <br> cool things!</h2>
        </div>
    </div>
</section>

<h1>Homepage</h1>

